<div class="container">
  <div class="header">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation"><a href="https://travis-ci.org/soulim/ember-cli-bootstrap-datepicker"><img src="https://travis-ci.org/soulim/ember-cli-bootstrap-datepicker.svg?branch=master&style=flat"></a></li>
      </ul>
    </nav>
    <h3 class="text-muted">Ember CLI datepicker component</h3>
  </div>

  <div class="jumbotron">
    <p class="lead">This is a playground page of the date input component which might be used in any Ember CLI app. The component has just one dependency - <strong>brilliant</strong> <a href="https://github.com/eternicode/bootstrap-datepicker">bootstrap-datepicker library</a>.</p>
    <p><a class="btn btn-lg btn-success" href="https://github.com/soulim/ember-cli-bootstrap-datepicker" role="button">Source Code</a></p>
  </div>

  <h2>Installation</h2>
  <hr>

  <p>If you are using Ember CLI 0.1.5 and higher, just run within your project directory:</p>

  <pre>ember install:addon ember-cli-bootstrap-datepicker</pre>

  <p>When your Ember CLI version is below 0.1.5, please run within your project directory:</p>

  <pre>npm install --save-dev ember-cli-bootstrap-datepicker
ember generate bootstrap-datepicker</pre>

  <h2>Basic example</h2>
  <hr>

  <p>Please note, you should use <code>value</code> attribute to provide a date. All examples on this page doesn't use this attribute because they don't work with real data, it's just a demo.</p>

  <div class="panel panel-default">
    <div class="panel-heading">
      <pre><code>&#123;&#123;bootstrap-datepicker placeholder="Click to play" class="form-control"&#125;&#125;</code></pre>
    </div>
    <div class="panel-body">
      <p>It's just a basic example. The component supports many options which you could use to customize the datepicker.</p>
    </div>
    <div class="panel-footer">
      {{bootstrap-datepicker placeholder="Click to play"
                             class="form-control"}}
    </div>
  </div>

  <h2>Inline or embedded example</h2>
  <hr>

  <div class="panel panel-default">
    <div class="panel-heading">
      <pre><code>&#123;&#123;bootstrap-datepicker-inline&#125;&#125;</code></pre>
    </div>
    <div class="panel-body">
      <p>An inline version supports the same options as a pop-up one. Please, find all of them below.</p>
    </div>
    <div class="panel-footer">
      {{bootstrap-datepicker-inline}}
    </div>
  </div>

  <h2>All available options</h2>
  <hr>

  <h3>autoclose</h3>
  <div class="panel panel-default">
    <div class="panel-heading">
      <pre><code>&#123;&#123;bootstrap-datepicker autoclose=true placeholder="Click to play" class="form-control"&#125;&#125;</code></pre>
    </div>
    <div class="panel-body">
      <p>
        Type: <code>Boolean</code><br>
        Default: <code>false</code>
      </p>
    </div>
    <div class="panel-footer">
      {{bootstrap-datepicker autoclose=true
                             placeholder="Click to play"
                             class="form-control"}}
    </div>
  </div>

  <h3>calendarWeeks</h3>
  <div class="panel panel-default">
    <div class="panel-heading">
      <pre><code>&#123;&#123;bootstrap-datepicker calendarWeeks=true placeholder="Click to play" class="form-control"&#125;&#125;</code></pre>
    </div>
    <div class="panel-body">
      <p>
        Type: <code>Boolean</code><br>
        Default: <code>false</code>
      </p>
    </div>
    <div class="panel-footer">
      {{bootstrap-datepicker calendarWeeks=true
                             placeholder="Click to play"
                             class="form-control"}}
    </div>
  </div>

  <h3>clearBtn</h3>
  <div class="panel panel-default">
    <div class="panel-heading">
      <pre><code>&#123;&#123;bootstrap-datepicker clearBtn=true placeholder="Click to play" class="form-control"&#125;&#125;</code></pre>
    </div>
    <div class="panel-body">
      <p>
        Type: <code>Boolean</code><br>
        Default: <code>false</code>
      </p>
    </div>
    <div class="panel-footer">
      {{bootstrap-datepicker clearBtn=true
                             placeholder="Click to play"
                             class="form-control"}}
    </div>
  </div>

  <h3>daysOfWeekDisabled</h3>
  <div class="panel panel-default">
    <div class="panel-heading">
      <pre><code>&#123;&#123;bootstrap-datepicker daysOfWeekDisabled="1,2" placeholder="Click to play" class="form-control"&#125;&#125;</code></pre>
    </div>
    <div class="panel-body">
      <p>
        Type: <code>Array</code> or <code>String</code><br>
        Default: <code>''</code> or <code>[]</code>
      </p>
      <p>Possible values are 0 (Sunday) to 6 (Saturday).</p>
    </div>
    <div class="panel-footer">
      {{bootstrap-datepicker daysOfWeekDisabled="1,2"
                             placeholder="Click to play"
                             class="form-control"}}
    </div>
  </div>

  <h3>endDate</h3>
  <div class="panel panel-default">
    <div class="panel-heading">
      <pre><code>&#123;&#123;bootstrap-datepicker endDate="01/01/2018" placeholder="Click to play" class="form-control"&#125;&#125;</code></pre>
    </div>
    <div class="panel-body">
      <p>
        Type: <code>Date</code> or date as a <code>String</code><br>
        Default: <code>Infinity</code> (end of time)
      </p>
    </div>
    <div class="panel-footer">
      {{bootstrap-datepicker endDate="01/01/2018"
                             placeholder="Click to play"
                             class="form-control"}}
    </div>
  </div>

  <h3>forceParse</h3>
  <div class="panel panel-default">
    <div class="panel-heading">
      <pre><code>&#123;&#123;bootstrap-datepicker forceParse=false placeholder="Click to play" class="form-control"&#125;&#125;</code></pre>
    </div>
    <div class="panel-body">
      <p>
        Type: <code>Boolean</code><br>
        Default: <code>true</code>
      </p>
    </div>
    <div class="panel-footer">
      {{bootstrap-datepicker forceParse=false
                             placeholder="Click to play"
                             class="form-control"}}
    </div>
  </div>

  <h3>format</h3>
  <div class="panel panel-default">
    <div class="panel-heading">
      <pre><code>&#123;&#123;bootstrap-datepicker format="dd MM, yyyy" placeholder="Click to play" class="form-control"&#125;&#125;</code></pre>
    </div>
    <div class="panel-body">
      <p>
        Type: <code>String</code><br>
        Default: <code>'mm/dd/yyyy'</code>
      </p>
      <p>You could read more about a format string <a href="http://bootstrap-datepicker.readthedocs.org/en/release/options.html#format">here</a>.</p>
    </div>
    <div class="panel-footer">
      {{bootstrap-datepicker format="dd MM, yyyy"
                             placeholder="Click to play"
                             class="form-control"}}
    </div>
  </div>

  <h3>keyboardNavigation</h3>
  <div class="panel panel-default">
    <div class="panel-heading">
      <pre><code>&#123;&#123;bootstrap-datepicker keyboardNavigation=false placeholder="Click to play" class="form-control"&#125;&#125;</code></pre>
    </div>
    <div class="panel-body">
      <p>
        Type: <code>Boolean</code><br>
        Default: <code>true</code>
      </p>
    </div>
    <div class="panel-footer">
      {{bootstrap-datepicker keyboardNavigation=false
                             placeholder="Click to play"
                             class="form-control"}}
    </div>
  </div>

  <h3>language</h3>
  <div class="panel panel-default">
    <div class="panel-heading">
      <pre><code>&#123;&#123;bootstrap-datepicker language="de" placeholder="Click to play" class="form-control"&#125;&#125;</code></pre>
    </div>
    <div class="panel-body">
      <p>
        Type: <code>String</code><br>
        Default: <code>'en'</code>
      </p>
      <p>Please note, to make German language available I've added one line into <code>Brocfile.js</code>:</p>
      <pre><code>app.import('bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.de.js');</code></pre>

      <p>Months are translated in German, date format is changed, and weeks start from Monday now. So it's pretty convenient :)</p>
    </div>
    <div class="panel-footer">
      {{bootstrap-datepicker language="de"
                             placeholder="Click to play"
                             class="form-control"}}
    </div>
  </div>

  <h3>minViewMode</h3>
  <div class="panel panel-default">
    <div class="panel-heading">
      <pre><code>&#123;&#123;bootstrap-datepicker minViewMode="months" placeholder="Click to play" class="form-control"&#125;&#125;</code></pre>
    </div>
    <div class="panel-body">
      <p>
        Type: <code>Number</code> or <code>String</code><br>
        Default: <code>0</code> or <code>"days"</code>
      </p>
      <p>Please, read more about possible values <a href="http://bootstrap-datepicker.readthedocs.org/en/release/options.html#minviewmode">here</a>.</p>
    </div>
    <div class="panel-footer">
      {{bootstrap-datepicker minViewMode="months"
                             placeholder="Click to play"
                             class="form-control"}}
    </div>
  </div>

  <h3>multidate</h3>
  <div class="panel panel-default">
    <div class="panel-heading">
      <pre><code>&#123;&#123;bootstrap-datepicker multidate=true placeholder="Click to play" class="form-control"&#125;&#125;</code></pre>
    </div>
    <div class="panel-body">
      <p>
        Type: <code>Boolean</code> or <code>Number</code><br>
        Default: <code>false</code></code>
      </p>
      <p>If multidate is <code>true</code>, <code>value</code> is an array.</p>
      <p>Please, read more about possible values <a href="http://bootstrap-datepicker.readthedocs.org/en/release/options.html#multidate">here</a>.</p>
    </div>
    <div class="panel-footer">
      {{bootstrap-datepicker multidate=true
                             placeholder="Click to play"
                             class="form-control"}}
    </div>
  </div>

  <h3>multidateSeparator</h3>
  <div class="panel panel-default">
    <div class="panel-heading">
      <pre><code>&#123;&#123;bootstrap-datepicker multidate=true multidateSeparator=";" placeholder="Click to play" class="form-control"&#125;&#125;</code></pre>
    </div>
    <div class="panel-body">
      <p>
        Type: <code>String</code><br>
        Default: <code>,</code></code>
      </p>
      <p>Please, read more about possible values <a href="https://bootstrap-datepicker.readthedocs.org/en/release/options.html#multidateseparator">here</a>.</p>
    </div>
    <div class="panel-footer">
      {{bootstrap-datepicker multidate=true
                             multidateSeparator=";"
                             placeholder="Click to play"
                             class="form-control"}}
    </div>
  </div>

  <h3>orientation</h3>
  <div class="panel panel-default">
    <div class="panel-heading">
      <pre><code>&#123;&#123;bootstrap-datepicker orientation="right" class="form-control"&#125;&#125;</code></pre>
    </div>
    <div class="panel-body">
      <p>
        Type: <code>String</code><br>
        Default: <code>'auto'</code>
      </p>
      <blockquote>
        <p>"orientation" refers to the location of the picker popup’s "anchor"; you can also think of it as the location of the trigger element (input, component, etc) relative to the picker.</p>
        <footer>description of "orientation" option in <a href="http://bootstrap-datepicker.readthedocs.org/en/release/options.html#orientation">the documentation for bootstrap-datepicker</a></footer>
      </blockquote>

    </div>
    <div class="panel-footer">
      {{bootstrap-datepicker orientation="right"
                             placeholder="Click to play"
                             class="form-control"}}
    </div>
  </div>

  <h3>startDate</h3>
  <div class="panel panel-default">
    <div class="panel-heading">
      <pre><code>&#123;&#123;bootstrap-datepicker startDate="01/01/2014" placeholder="Click to play" class="form-control"&#125;&#125;</code></pre>
    </div>
    <div class="panel-body">
      <p>
        Type: <code>Date</code> or date as a <code>String</code><br>
        Default: <code>-Infinity</code> (beginning of time)
      </p>
    </div>
    <div class="panel-footer">
      {{bootstrap-datepicker startDate="01/01/2014"
                             placeholder="Click to play"
                             class="form-control"}}
    </div>
  </div>

  <h3>startView</h3>
  <div class="panel panel-default">
    <div class="panel-heading">
      <pre><code>&#123;&#123;bootstrap-datepicker startView="decade" placeholder="Click to play" class="form-control"&#125;&#125;</code></pre>
    </div>
    <div class="panel-body">
      <p>
        Type: <code>Number</code> or <code>String</code><br>
        Default: <code>0</code> or <code>"month"</code>
      </p>
      <p>Please, read more about possible values <a href="http://bootstrap-datepicker.readthedocs.org/en/release/options.html#startview">here</a>.</p>
    </div>
    <div class="panel-footer">
      {{bootstrap-datepicker startView="decade"
                             placeholder="Click to play"
                             class="form-control"}}
    </div>
  </div>

  <h3>todayBtn</h3>
  <div class="panel panel-default">
    <div class="panel-heading">
      <pre><code>&#123;&#123;bootstrap-datepicker todayBtn=true placeholder="Click to play" class="form-control"&#125;&#125;</code></pre>
    </div>
    <div class="panel-body">
      <p>
        Type: <code>Boolean</code><br>
        Default: <code>false</code>
      </p>
    </div>
    <div class="panel-footer">
      {{bootstrap-datepicker todayBtn=true
                             placeholder="Click to play"
                             class="form-control"}}
    </div>
  </div>

  <h3>todayHighlight</h3>
  <div class="panel panel-default">
    <div class="panel-heading">
      <pre><code>&#123;&#123;bootstrap-datepicker todayHighlight=true placeholder="Click to play" class="form-control"&#125;&#125;</code></pre>
    </div>
    <div class="panel-body">
      <p>
        Type: <code>Boolean</code><br>
        Default: <code>false</code>
      </p>
    </div>
    <div class="panel-footer">
      {{bootstrap-datepicker todayHighlight=true
                             placeholder="Click to play"
                             class="form-control"}}
    </div>
  </div>

  <h3>weekStart</h3>
  <div class="panel panel-default">
    <div class="panel-heading">
      <pre><code>&#123;&#123;bootstrap-datepicker weekStart=1 placeholder="Click to play" class="form-control"&#125;&#125;</code></pre>
    </div>
    <div class="panel-body">
      <p>
        Type: <code>Number</code><br>
        Default: <code>0</code> (Sunday)
      </p>
    </div>
    <div class="panel-footer">
      {{bootstrap-datepicker weekStart=1
                             placeholder="Click to play"
                             class="form-control"}}
    </div>
  </div>

  <footer class="footer">
    <p class="pull-right">Hosted on <a href="https://pages.github.com/">GitHub Pages</a></p>
    <p>This project is maintained by <a href="http://sul.im/">Alex Sulim</a></p>
  </footer>
</div>
